// $BG_COLOR: rgb(179, 173, 173);
$TEXT_COLOR: black;
$yellow : #ffc107;
$HEADER_COLOR: black;
$HEADER_SECONDARY: $yellow;

.centercol{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.th-card {
    background: rgb(255,217,101);
    background: linear-gradient(276deg, rgba(255,217,101,1) 79%, rgba(255,255,255,1) 100%); 
    color : black;
    margin-top: 1%;
    .text-box {
        margin-top: 1%;
        text-align: center;
        h4{
            color: $TEXT_COLOR;
            font-size: 1rem;
        }
    }
    .role-arrow {
        max-width: 40px;
        height: auto;
        width:100%;
        filter: invert(100%);
        
    }
}

.th-card:hover {
    cursor: pointer;
}

.th-mini-card {
    margin-top: 1%;
    .role-arrow {
        max-width: 20px;
        height: auto;
        width:100%;
        filter: invert(100%);
    }
    .text-box {
        margin-top: 1%;
        text-align: center;
        h4{
            color: $TEXT_COLOR;
            font-size: 0.7rem;
        }
    }
}

.selected {
    background-color: yellow;
    h4{
        color: black !important;
    }
    .role-arrow {
        filter: none;
    }
}

.arrow-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.th-header {
    margin-top: 0%;
    background-color: $HEADER_COLOR;
    padding-top: 0%;
    padding-left: 0% !important;
    padding-right: 0% !important;
    // border: 2px solid pink;
    margin-right: 0;
    margin-left: 0;
    .search-icon {
        background-color: $HEADER_COLOR;
        border-right: 0;
    }
    .search-icon-svg {
        color: white;
    }
    .searchbar{
        width: 70%;
        margin: auto;
    }
    .search-input {
        background-color: $HEADER_COLOR;
        color: $HEADER_SECONDARY;
        border-left: 0;
        margin: auto;
    }
    .btn-filter-container {
        border: 1px solid $HEADER_SECONDARY;
        border-radius: 12px;
    }
    .btn-filter {
        background:none;
        border: none;
        color: $HEADER_SECONDARY;
        padding: 10px;
    }
    .btn-selected-first{
        background-color: $HEADER_SECONDARY;
        color: $HEADER_COLOR;
        border-radius: 10px 0px 0px 10px;
    }
    .btn-selected{
        background-color: $HEADER_SECONDARY;
        color: $HEADER_COLOR;
    }
    .btn-selected-last{
        background-color: $HEADER_SECONDARY;
        color: $HEADER_COLOR;
        border-radius: 0px 10px 10px 0px;
    }
    .flex-line-1{
        border: 0.5px solid $HEADER_SECONDARY;
    }
    .flex-line-2{
        border: 0.5px solid $HEADER_COLOR;
    }
    @media(max-width : 575px) and (min-width : 0px){
        
        .btn-selected-first{
            background-color: $HEADER_SECONDARY;
            color: $HEADER_COLOR;
            border-radius: 10px 10px 0px 0px;
        }
        .btn-selected-last{
            background-color: $HEADER_SECONDARY;
            color: $HEADER_COLOR;
            border-radius: 0px 0px 10px 10px;
        }
    }
    
}

.sort-button {
    background-color: $HEADER_COLOR;
    border-color: $HEADER_SECONDARY;
    color: $HEADER_SECONDARY;
    cursor: pointer;
}

.form-control:focus {
    border-color: #efd00b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 251, 0, 0.6);
}

.btncol{
    padding : 5px;

}