$yellow : #ffc107;
.txn-main {
    padding-top: 4rem;
    // border: 2px solid pink;
    padding-bottom: 5vh;
    .title{
        background-color : $yellow;
        color : black;
        border-radius: 15px;
        font-size: 24px;
        width: 80%;
        margin : auto;
        text-align: center;
        font-family: "Poppins";
        padding : 0.5vh 0.5vw;
        font-weight: 600;
        margin-top : 3vh;
        margin-bottom: 5vh;
    }
    .invoicediv{
        position: absolute;
        z-index: 0;
        padding : 0 !important;
        margin: 0;
        justify-content: center;
        text-align: center;
        align-items: center;
        display: flex;
        width: 100%;
    }
    .txn-main-row1 {
        z-index: 1;
    }
    .tableCollapsed{
        z-index: 1;
        position: absolute;
        top : 48%;
        left : 0;
        .collapsebutton{
            padding : 0 20px;
        }
        .row{
            padding : 10px;
        }
        .row2{
            padding-top : 0px;
        }
    }
    ::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #000000;
    }

    ::-webkit-scrollbar
    {
        width: 8px;
        background-color: #000000;
    }

    ::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
    
    .txn-table {
        // border: 2px solid yellow;
        height: 100%;
        width: 100%;
        

        
        // margin-top: 5rem;

        

        .table-head-row {
            border-radius: 5%;
            border: 1px solid yellow;
            background-color: rgba(22, 22, 22, 0.582);
            margin-bottom: 1rem;
            
        }

        .table-header {
            margin-top: 0.5rem;
            font-size: xx-large;
            color: grey;
            font-family: Georgia, 'Times New Roman', Times, serif;

        }

        .header-content {
            // border: 1px solid blue;
            padding: 0 !important;
            padding-right: 0 !important;
           
        }

        .header-content-inside {
            padding: 0 !important;
            padding-right: 0 !important;
            margin-left: 5px;
            height: 50vh;
        }
        scrollbar-width: 10px;
        .body {
            // border: 2px solid green;
            
            overflow-y: scroll;
            height: 40vh;
           }
        
        
    }
    
}