// $BG_COLOR: rgb(179, 173, 173);
$TEXT_COLOR: white;
$HEADER_COLOR: rgb(37, 35, 35);
$HEADER_SECONDARY: yellow;
@mixin glass-look {
    background: rgba(117, 114, 114, 0.18);
    backdrop-filter: blur(7.5px);
    box-shadow: 0 8px 32px 0 rgba(4, 4, 4, 0.18);
    border-radius: 20px;
}

.th-card {
    @include glass-look;
    margin-top: 1%;
    .text-box {
        margin-top: 1%;
        text-align: center;
        h4{
            color: $TEXT_COLOR;
            font-size: 1rem;
        }
    }
    .role-arrow {
        max-width: 40px;
        height: auto;
        width:100%;
        filter: invert(100%);
        
    }
}

.th-mini-card {
    @include glass-look;
    margin-top: 1%;
    .role-arrow {
        max-width: 20px;
        height: auto;
        width:100%;
        filter: invert(100%);
    }
    .text-box {
        margin-top: 1%;
        text-align: center;
        h4{
            color: $TEXT_COLOR;
            font-size: 0.7rem;
        }
    }
}

.selected {
    background-color: yellow;
    h4{
        color: black !important;
    }
    .role-arrow {
        filter: none;
    }
}

.arrow-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.th-header {
    margin-top: 1.5%;
    background-color: $HEADER_COLOR;
    padding-top: 1%;
    .search-icon {
        background-color: $HEADER_COLOR;
        border-right: 0;
    }
    .search-icon-svg {
        color: white;
    }
    .search-input {
        background-color: $HEADER_COLOR;
        color: $HEADER_SECONDARY;
        border-left: 0;
    }
    .btn-filter-container {
        border: 1px solid $HEADER_SECONDARY;
        border-radius: 10px;
    }
    .btn-filter {
        background:none;
        border: none;
        color: $HEADER_SECONDARY;
        padding: 10px;
    }
    .btn-selected {
        background-color: $HEADER_SECONDARY;
        color: $HEADER_COLOR;
    }
    .flex-line{
        border: 0.5px solid $HEADER_SECONDARY;
    }
    @media(max-width : 678px) and (min-width : 67px){
        // do-something
    }
}

.sort-button {
    background-color: $HEADER_COLOR;
    border-color: $HEADER_SECONDARY;
    color: $HEADER_SECONDARY;
    cursor: pointer;
}