$yellow : #efd00b;
.Invoice {
    padding-top: 12vh;
    height: 100vh;
    width: 100vw;

    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 0;
    .invoice-container {
        display: flex;

        border: 0.5px solid $yellow;

        height: 85vh;
        width: 80vw;

        @media only screen and (max-width: 500px) {
            height: 100vh;
            width: 100vw;
        }

        @media only screen and (max-width: 770px) {
            height: 100%;
            
            overflow-y: scroll;
        }

        align-items: center;
        justify-content: space-between;
        padding: 50px;

        background: rgba(117, 114, 114, 0.18);

        backdrop-filter: blur(7.5px);

        box-shadow: 0 8px 32px 0 rgba(4, 4, 4, 0.18);

        border-radius: 10px;
        border: 1 px solid rgba(4,4,4,0.18);
        z-index: -1;
        .inv-head {
            font-family: "Barlow Condensed";
            color: $yellow;
        }

        .inside-invoice {
            // border: 2px solid yellow;
            padding-top: 0%;
            .inv-name {
                color: $yellow;
                
            }
            .invoice-header {
                color: rgba(255, 255, 255, 0.589);
                
                justify-content: center;
            }
        }

        @media only screen and (max-width: 600px) {
            .inside-invoice {
                margin-top: 13rem;
            }
        }

        @media only screen and (min-width:772px) and (max-width:899px) {
            .upl-but-col {
                // border : 1px solid yellow;
            }
            .tick {
                // margin-right: 2rem;
                margin-left: 1rem;
                // padding-left: 0;
                margin-top: 0;
                // border: 2px solid yellow;
            }
        }

        @media only screen and (min-width:900px) and (max-width:992px) {
            .upl-but-col {
                // border : 1px solid yellow;
            }
            .tick {
                margin-right: 2rem;
                margin-left: 0rem;
                padding-left: 0;
                // border: 2px solid yellow;
            }
        }

        .upl-but {
            border:1px solid $yellow;
        }
        .invoice-row {
            margin-bottom: 3rem;
            @media only screen and (max-width: 770px) {
                margin-bottom: 0;
                margin-top: 4rem;
            }
        }

        .invoice-submit {
            color: rgba(255, 255, 255, 0.558);
        }

        .invoice-submit:hover {
            color: $yellow;
        }

        .invoice-date {
            color: rgba(255, 255, 255, 0.558);;
        }

        .image-but {
            padding-top: 0;
            height: 100%;
            border: 2px solid yellow;
            padding-left: 0;
            margin-left: 0;
        }

        .stamp-row {
            margin-top: 0;
            margin-right: 0rem;
            margin-bottom: 25rem;
            margin-left: 0;
            height: 15vh;
            width: 20vw;
            @media  only screen and (max-width: 1200px) {
                height: 0;
                width: 0;;
            }
            @media only screen and (min-width: 1300px)  {
                width: 30vw;
            }
            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                width: 32vw;
            }
            // border: 2px solid yellow;
        }

        .stamp-row2 {
            // border: 2px solid yellow;
            margin-left: 0;
            margin-right: 2rem;
        }

        .upload-but {
            display: none;
           
        
        }
        @media only screen and (max-width : 990px ) and (min-width : 900px) {
            .invoice-url {
                width: 100%;
            }
        }
        

        // border: 2px solid yellow;
    }

    .invoice-form {
        color: rgba(255, 255, 255, 0.558);
    }


}
