$logosize : 120px;
$yellow : #efd00b;
$grey : #090909;

.centercol {
    display: flex;
    justify-content: center;
    align-items: center;
}


.DuckBoard {
    padding-top: 15vh;
    overflow-x : hidden;
    .logout{
        background-color: white;
        padding : 10px;
        border-radius: 100px;
        cursor: pointer;
    }
    .logout:hover{
        background-color: black;
    }
    .logoutcol{
        display: flex;
        justify-content: end;
        
    }
    .nftimage{
        border-radius: 20px;
        height: 280px;
        width: 100%;
        object-fit: cover;
    }
    .nftcard,   
    .nftcard:hover{
        background: rgb(255, 243, 156);
        background: linear-gradient(124deg, rgba(255, 243, 156, 1) 53%, rgba(255, 255, 255, 1) 100%);
        .sc-kDDrLX{
            color : black;
        }
        .xHoFN{
            font-size: larger;

        }
    }
    .largescreens {
        .topbanner {
            height: 40vh;
            background-image: url(../../assets/backgrounds/gold_fish.jpg);
            background-size: contain;

            @media(max-width : 767px) {
                height: 100vh;
            }
        }
        

        .credcol {
            display: flex;
            justify-content: center;
            align-items: end;
            padding: 10px 30px;

            .credbox {
                background-color: black;
                color: white;
                width: 100%;
                // text-align: center;
                margin-bottom: 3vh;
                padding: 10px 30px;
                border-radius: 10px;

                @media(max-width : 767px) {
                    margin: 0;
                    margin-top: 3vh;
                }
            }

            .credrow {
                font-size: 17px;
                font-family: 'Poppins';
            }

            .yellowtext {
                color: $yellow;
            }
        }

        .nftcardcol {
            display: flex;
            justify-content: center;

            .nftcard {
                height: 395px;
                width: 90%;
                background-color: white;
                margin-top: -200px;
                border-radius: 20px;
                z-index: 5;

                @media(max-width: 767px) {
                    width: 80%;
                    background-color: white !important;
                }
            }
        }
    }

    .smallscreens {
        .topbanner {
            background-image: url(../../assets/backgrounds/gold_fish.jpg);
            background-size: contain;
        }
        .logout{
            margin-bottom: 2vh !important;
            margin-left: 5vw;
        }
        .credbox {
            background-color: black;
            color: white;
            width: 90%;
            padding: 10px 30px;
            border-radius: 10px;
            margin: 6% 0;
        }

        .credrow {
            font-size: 17px;
            font-family: 'Poppins';
        }

        .yellowtext {
            color: $yellow;
        }

        .profbtn {
            margin: 3vh 0;
            font-size: small;
            font-weight: 600;
            width: 70%;
        }

        .nftcard {
            height: 50vh;
            width: 60%;
            border-radius: 20px;
        }
    }
}