$yellow : #ffc107;
.feature-card {
    background-color: rgb(45, 45, 40);
}

.card-skeleton {
    padding: 1%;
}

.card-outer {
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 8px;
    background: $yellow;
    margin-right: 4%;
}

.card-outer:hover .card-inner {
    transition: transform 1s;
    transform: translate(-10px, -10px);
  }

.static-img {
    padding-top: 50px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 30px;
}

.card-title {
    font-family: 'Barlow Condensed';
}

.card-body {
    padding-left: 5vh;
    padding-right: 4vh;

}