.InvoiceDisplay{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(68,68,68,1) 100%);
    margin-top : 5vh;
    .logo{
        width: 100px;
        height: auto;
        margin: 3vw;
    }
}