.hero {
    padding-top: 100px;
    padding-left: 50px;
    .hero-title {
        font-family: 'Barlow Condensed';
        font-size: 9vw;
        line-height:85%;
    }
    .hero-title-accent {
        color: black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: yellow;
    }
    .hero-text {
        padding-left: 15px;
        padding-right: 50px;
        padding-top: 5vw;
        font-size: 2vw;
    }
}